$main-color:green;
$border-color: rgba(191, 33, 85, 0.4);

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@mixin rounded($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
    border: 1px solid;
    box-sizing: border-box;
    border-color: $border-color;
}

ul {
    li {
        list-style-type: none;
    }
}



.box {
    @include rounded(10px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 71, 123, 0.6);
    box-shadow:  10px 10px 80px 10px rgba(117, 170, 202, 0.5) inset,10px 10px 20px rgba(0, 7, 123, 0.6);
}

.box_extend {
    @extend .box;
    color: rgba(190, 0, 0, 0.9); //background-color: $border-color;
    position: relative;
    top: 2em;
    left: 6em;
    padding: 2em;
}

.layout {
    @extend .box_extend;
    display: flex;
}

.all-repo {
    padding: 1em;
    box-sizing: border-box;
}

.repo_info {
    @extend .all-repo;
}

.repo_info code {
    color: rgba(190, 0, 0, 0.5);
    font: 100% Helvetica, sans-serif;
}